$color-primary-dark-1: #17181b;
$color-primary-dark: #1a1a1a;
$color-primary-light-dark: #090909;


$color-grey-dark-1: #a2a2a2;
$color-grey-dark-2: #aaa;
$color-grey-dark-3: #5e5e5e;


$color-white: #fff;
$color-white-light: #d5d5d5;

$color-blue-light-1: #0944c0;
$color-blue-light-2: #0914fb;


$font-primary: 'Lato', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
