.header{
  grid-row: 1/ span 1;
  grid-column: 1 /-1;

  display: flex;
  flex-direction: column;

 &__items{
   &--1{
     display: flex;
     justify-content: space-between;
     align-items: center;

     padding-bottom: 1.4rem;
   }

   &--pop{
     font-size: 2rem;
     font-weight: 400;
     padding-left: 45vw;
     flex: 1;
   }

   &--1 > *:not(:first-child){
     padding-left: 1rem;
   }
  //  header__items--2
   &--2{
     display: flex;
     align-items: center;
   }
 }

 &__list{
   &--1{
     list-style: none;
     flex: 1;
     padding-right: 35vw;

     display: flex;
     justify-content: space-between;
     font-size: 1.7rem;


   }
   &--item{
      &:hover .header__list--link{
       color: $color-white;
     }

   }

  &--link{
    text-decoration: none;
    color: $color-white-light;
  }
   &--2{
     list-style: none;
     margin-left: auto;

     display: flex;
     justify-content: space-between;

     & li:not(:last-child){
       padding: 0 .4rem;
     }
   }
    
   &--input{
       background-color: $color-grey-dark-3;
       border: 0;
       border-radius: 3px;
       height: 1.8rem;
       padding-left: .5rem;
       position: fixed;
       // top: 0%;
       right: 16.5%;


       // opacity: 0;
       // visibility: hidden;
 }


   &--icon{
     fill: $color-grey-dark-1;
     width: 2.2rem;
     height: 2.2rem;
     cursor: pointer;
     transition: all .2s;
   }
   &--icon:hover{
     fill: $color-blue-light-1;
   }
 }
}
