
.header{
  grid-row: 1/ span 1;
  grid-column: 1 /-1;
  
  position: fixed;
  z-index: 10;
  width: 98%;
  background-color: $color-primary-dark-1;
  padding-bottom: .7rem;
  
  display: flex;
  flex-direction: column;

 &__items{
   &--1{
     display: flex;
     justify-content: space-between;
     align-items: center;

     padding-bottom: 1.4rem;
   }

   &--pop{
     font-size: 2rem;
     font-weight: 400;
     padding-left: 45vw;
     flex: 1;
   }

   &--1 > *:not(:first-child){
     padding-left: 1rem;
     width: 2.4rem;
     height: 2.4rem;
     fill: $color-grey-dark-1;
     margin-top: -1.1rem;
   }
   
   &--1 > *:last-child{
     width: 2.8rem;
     height: 2.8rem;
   }
  //  header__items--2
   &--2{
     display: flex;
     align-items: center;
   }
 }

 &__list{
   &--1{
     list-style: none;
     flex: 1;
     padding-right: 35vw;

     display: flex;
     justify-content: space-between;
     font-size: 1.7rem;
   }

  &--link{
    text-decoration: none;
    color: #fff;
  }
   &--2{
     list-style: none;
     margin-left: auto;

     display: flex;
     justify-content: space-between;

     & li:not(:last-child){
       padding: 0 .6rem;
     }
   }


   &--icon{
     fill: #ccc;
     width: 2.6rem;
     height: 2.6rem;
     // padding: 0 .8rem;
   }
    &--icon:hover{
     fill: $color-blue-light-1;
   }
 }
}
