main{
  grid-column: 1/ -1;
  grid-row: 2/ -1;
  padding-top: 8rem;

  display: grid;
  grid-template-rows: repeat(4, minmax(22rem, 25rem));
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-gap: 2rem;
  // grid-row-gap: 4rem;

}
// #parent{
//   padding-bottom: 3rem;
//   display: flex;
//   // display: grid;
//   // grid-template-rows: repeat(4, minmax(22rem, 25rem));
//   // grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
//   // grid-gap: 2rem;
//
//   // grid-column: 1/ span 1;
//   // grid-row: 1 / span 1;
// }
.figure{
    padding-bottom: 3rem;
    position: relative;

    //  need to sort out why is the hover
    // effect only working during the movie not clicked the icons
    // &:hover > p{
    //   opacity: 1;
    // }
  &--1{
    // grid-column: 1/ span 1;
    // grid-row: 1 / span 1;

  }

  &__movie{
      width: 100%;
      height: 100%;
      filter: brightness(85%);
      border: .3rem solid $color-primary-dark;
      border-radius: .6rem;


      transition: all .2s;
      // backface-visibility:visible;

      &:hover{
        border: .3rem solid $color-blue-light-2;
        border-radius: 3px;
        filter: brightness(70%);

        & + p,
        & ~ .figure__icon--1,
        & ~ .figure__icon--2,
        & ~ .figure__star{
          opacity: 1;
        }

        // & ~ .figure__icon{
        //   opacity: 1;
        // }
      }
      // we cant write two times for same class
      // &:hover & + p{
      //   opacity: 1;
      // }

      & + p{
        position: absolute;
        top: 76%;
        right: 8%;
        font-size: 1.2rem;
        font-weight: 400;
        opacity: 0;
        // transform: translate(50%, -50%);
      }
  }

  &__icon--1{
    width: 2.2rem;
    height: 2.2rem;
    fill: $color-grey-dark-3;

    position: absolute;
    top: 2%;
    right: 3%;
    opacity: 0;
  }

  &__icon--2{
    width: 2rem;
    height: 2rem;
    fill:  $color-grey-dark-3;

    position: absolute;
    top: 2%;
    left: 6%;
    opacity: 0;
  }

  &__star{
    display: flex;
    // background-color: orangered;
    justify-content: start;

    position: absolute;
    top: 77%;
    left: 6%;
    opacity: 0;

    &--1,
    &--2,
    &--3,
    &--4,
    &--5{
      width: 1.4rem;
      height: 1.4rem;
      fill: $color-orange-1;

    }
  }

  &__caption{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
