.popup{

    background-color: $color-primary-dark-1;
    width: 12%;
    height: auto;
    position: fixed;
    top: 13%;
    left: 26%;
    border-radius: 3px;
    z-index: 10;


    opacity: 0;
    visibility: hidden;
    transition: all .4s;

  &__genre{
    list-style: none;
    padding-left: 6px;

    &--link{
      font-size: 1.2rem;
      text-decoration: none;
      color: $color-grey-dark-2;
      font-weight: 500;
      letter-spacing: .6px;
    }
  }
  // need to use the jquery to open and close it
  &:target{
    opacity: 1;
    visibility: visible;
  }


}
