.sortby{
  background-color: $color-primary-dark-1;
  width: 12%;
  height: auto;
  position: fixed;
  top: 13%;
  left: 38%;
  z-index: 10;
  padding-bottom: 1rem;

  opacity: 0;
  visibility: hidden;
  transition: all .4s;

  @include respond(tab-land){
    top: 11%;
  }
  @include respond(phone){
    left: 55%;
  }

  &__items{
    list-style: none;
    padding-left: 6px;


    &--link{
      font-size: 1.2rem;
      text-decoration: none;
      color: $color-grey-dark-2;
      font-weight: 500;
      letter-spacing: .6px;
    }
  }

  &:target{
    opacity: 1;
    visibility: visible;
  }
}
